.sidenav {
  background: #244564;;
  overflow-y: scroll;
  overflow-x: scroll;
  min-height: 1000px;
  z-index: 1;
  position: fixed;
}

.budget {
  background-color: #3674a7;
  color: #fff;
  margin-top: 5px;
  border-radius: 6px;
}
.accouts {
  background-color: #3674a7;
  color: #fff;
  border-radius: 6px;
}

.right-bar{
  margin-left: 224px;
}
